.row.space {
  height: 14px;
}

.imgS {
  width: 15%;
}

body {
font-family: roboto;
}
.left {
  float: left;
}
.rigth {
  float: right;
}
.row.headerX {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin-top: 4%;
}

.container-sm.card {
  padding: 17px;
  margin-top: 18px;
}

.groupX {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
body {
  padding: 12%;
}
input#pass {
    margin-top: 7px;
    margin-bottom: 7px;
}
.container.card {
  padding: 17px;
}
#cnpjInput {
  margin-top: 7px;
  margin-bottom: 7px;
}
.rigth.col-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2%;
}