.form-control {
    height: 24px;
    border-radius: 3px;
    font-size: 12px;
    font-family: roboto;
}

button.btn.btn-primary {
    font-size: 12px;
}
.container-md {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 42px;
}
img.logo {
    width: 50%;
    margin-bottom: 6px;
}
span {
    font-size: xx-small;
    margin-bottom: 4px;
    margin-top: 4px;
}

button.btn.btn-primary.btn-entrar.btn-lg {
    width: 100%;
}
.row.title {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
 font-size: 16px;
}
.card {
    width: 50%;
    height: auto;
    padding: 5%;
}
.btn {
    width: 50%;
    font-size: xx-small;
    padding: 4px;
}

.row.form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 6px;
}
.row.btn-entrar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
}
.row.rodape {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
    width: 100%;
    padding: 13px;
}