.wrapper {
    display: flex;
    align-items: stretch;
    height: 100vh;
}
body {
font-family: roboto;
}
#sidebar {
min-width: 15%;
  max-width: 15%;
}
.imgLogo {
  width: 90%;
}
#sidebar.active {
    margin-left: -250px;
}
#content {
  float: right;
  height: 100vh;
  /* background-color: red; */
  width: 100%;
  min-width: 70%;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #0065A4;;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0065A4;;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


#bar {
    /* padding: 19px; */
    border-bottom-color: #80808066;
    border-bottom-style: solid;
    height: 9%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.left {
  float: left;
  max-width: 50%;
  width: 50%;
      padding: 12px;
} 

.rigth {
    float: right;
    /* max-width: 50%; */
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    justify-items: flex-start;
    flex-wrap: nowrap;
    padding: 12px;
    width: 100%;
}
span#nomeUsuario {
    float: right;
    margin-left: 15px;
}
div#display {
    /* background-color: blue; */
    height: auto;
    min-height: 91%;
}
img#avatarUsuario {
    width: 42px;
    height: auto;
    border-radius: 12px;
}